<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <script src="/js/interface.js"></script>
  <title>Choose RPS</title>
</head>
<body>
  <h4><span id='selection'>Welcome <%= data.username %>, which will you choose?<br>
  Rock, Paper or Scissors</span></h4>

  <form action="/results" method="POST">
    <label>
      <input type="radio" value="rock" id="svg1" name="user_choice" onclick="displayChoice('rock')" required>
      <img class="rock"width="30%" src="/css/mountains-with-road.svg"/>
    </label>  
    <label>
      <input type="radio" value="paper" id="svg2" name="user_choice" onclick="displayChoice('paper')">
      <img class="paper" width="15%" src="/css/paper.svg"/> 
    </label>
    <label>
      <input type="radio" value="scissors" id="svg3" name="user_choice" onclick="displayChoice('scissors')">
      <img class="scissors" width="15%" src="/css/scissors.svg"/>
    </label>
    <br><br>
    <input id="button2" type="submit" value="Battle">
  </form>
  
  

</body>

</html>
