<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <script src="ejs.js"></script>
  <title>Choose RPS</title>
</head>
<body>
  <h4>Welcome <%= data.username %>, which will you choose?<br>
  Rock, Paper or Scissors</h4>

  <form action="/results" method="POST">
    <button type="submit" value="rock" id="svg" name="user_choice">
      <img width="140%" src="/css/mountains-with-road.svg"/>
    </button>
    <button type="submit" value="paper" id="svg" name="user_choice">
      <img width="140%" src="/css/paper.svg"/> 
    </button>
    <button type="submit" value="scissors" id="svg" name="user_choice">
      <img width="140%" src="/css/scissors.svg"/>
    </button>
    <br><br>
    <!-- <input id="button" type="submit" value="Battle"> -->
  </form>

</body>
</html>
