<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <script src="ejs.js"></script>
  <title>Choose RPS</title>
</head>
<body>
  Welcome <%= data.username %>, which will you choose?

  <form action="/choose_rps" method="POST">
    <label for="user_choice">Choose Rock, Paper or Scissors</label>
    <select name="user_choice" id="user_choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <br><br>
    <input type="submit" value="Battle">
  </form>

</body>
</html>