<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <script src="/js/interface.js"></script>
  <title>RPS Battle System</title>
</head>
<body>

  <h1>RPS Battle System Express Edition</h1>

  <form action="/choose_rps" method="POST">
    <input id="enter-name" type="text" name="username" placeholder="Enter your name here"><br>
    <button id="button1" type="submit" value="Submit" onclick="return emptyName()">Submit</button>
  </form>

</body>
</html>