<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <script src="../interface.js"></script>
  <title>RPS Results/title</title>
</head>
<body>

  You selected <%= data.user_choice %>, the computer selected <%= computerChoice %>
  <br>
  <%= results %>

</body>
</html>