* {
  font-family: monospace;
  font-size: 25px;
}

body {
  background-color: rgb(226, 238, 238);
  text-align: center;
  margin-top: 10%;
}

h1 {
  color: rgb(73, 124, 107);
  padding: 2%;
}

h3 {
  color: rgb(73, 124, 107);
  padding: 10%;
}

h4 {
  color: rgb(73, 124, 107);
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

#svg1,
#sv2,
#svg3 {
  border: none;
  background-color: transparent;
  padding: 7%;
  cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

#button1,
#button2 {
  background-color: white;
  color: black;
  border: 2px solid #88928900;
  margin-top: 5px;
}

#enter-name {
  border-style: hidden;
  padding: 5px;
}

#drop-down {
  border-style: hidden;
  margin-top: 5px;
  padding: 5px;
}

@keyframes getLarger {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

.win,
.lose,
.draw {
  height: 500px;
  width: auto;
  animation-name: getLarger;
  animation-duration: 3s;
  border-radius: 20%;
  overflow: hidden;
  padding: 1%;
}
